<?xml version="1.0" encoding="UTF-8" ?>

<!-- ==================================================================== -->
<!-- Sample SimpleSSLSocketServer configuration.                          -->
<!-- ==================================================================== -->

<configuration debug="true">

  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>



