<?xml version="1.0" encoding="UTF-8"?>
<!-- status is for log4j2 itself logger level, it is not for below application logger level -->
<!-- TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF -->
<Configuration status="OFF" monitorInterval="30">
  <Properties>
    <Property name="LOG_PATTERN">
      %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} -&#45;&#45; [%15.15t] %-40.40c{1.} : %m%n%ex
    </Property>
    <!-- top file location, so log will under this folder -->
    <Property name="LOG_FILE_PATH">./log4j2-spring-boot-based-on-xishuai</Property>
  </Properties>

  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>

    <!-- Rolling File Appender -->
    <RollingFile name="FileAppender" fileName="${LOG_FILE_PATH}/spring-boot-log4j2.log"
      filePattern="${LOG_FILE_PATH}/spring-boot-log4j2-demo-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout>
        <Pattern>${LOG_PATTERN}</Pattern>
      </PatternLayout>
      <Filters>
        <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/><!-- only log for ERROR level -->
      </Filters>
      <Policies>
        <SizeBasedTriggeringPolicy size="10MB"/>
        <TimeBasedTriggeringPolicy interval="1"/><!-- Everyday create a log file -->
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
  </Appenders>

  <Loggers>
    <!-- define at package level -->
    <!--<Logger name="com.easyjijin.demo.springbootlog4j2" level="debug" additivity="false">
        <AppenderRef ref="ConsoleAppender" />
        <AppenderRef ref="FileAppender"/>
    </Logger>-->

    <!-- AsyncRoot - require LMAXDisruptor -->
    <!-- <AsyncRootlevel="info" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="FileAppender"/>
    </AsyncRoot> -->

    <Root level="ERROR">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="FileAppender"/>
    </Root>
  </Loggers>
</Configuration>
