<configuration>
  <appender class="ch.qos.logback.access.db.DBAppender" name="DB">
    <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
      <driverClass>com.mysql.jdbc.Driver</driverClass>
      <password>logback</password>
      <url>jdbc:mysql://localhost:3306/logbackdb</url>
      <user>logback</user>
    </connectionSource>
    <insertHeaders>true</insertHeaders>
  </appender>
  <appender-ref ref="DB"/>
</configuration>