<configuration>

  <appender class="ch.qos.logback.classic.net.SMTPAppender" name="SMTP">
    <SMTPHost>mail.host.ch</SMTPHost>
    <encoder>
      <pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
    </encoder>
    <from>sender_email@host.ch</from>

    <subject>Last Event: %-10logger %nopex</subject>

    <to>recipient_email@host.ch</to>
  </appender>

  <root level="debug">
    <appender-ref ref="SMTP"/>
  </root>
</configuration>

