<configuration>

  <appender class="ch.qos.logback.classic.net.JMSTopicAppender" name="Topic">
    <InitialContextFactoryName>
      org.apache.activemq.jndi.ActiveMQInitialContextFactory
    </InitialContextFactoryName>
    <ProviderURL>tcp://localhost:61616</ProviderURL>
    <TopicBindingName>MyTopic</TopicBindingName>
    <TopicConnectionFactoryBindingName>
      ConnectionFactory
    </TopicConnectionFactoryBindingName>
  </appender>

  <root level="debug">
    <appender-ref ref="Topic"/>
  </root>
</configuration>