<configuration>
  <appender class="ch.qos.logback.core.FileAppender" name="FILE">
    <append>true</append>
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <file>log-test-file.log</file>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <immediateFlush>true</immediateFlush>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="FILE"/>
  </root>
</configuration>