<configuration>

  <appender class="ch.qos.logback.classic.net.JMSQueueAppender" name="Queue">
    <InitialContextFactoryName>
      org.apache.activemq.jndi.ActiveMQInitialContextFactory
    </InitialContextFactoryName>
    <ProviderURL>tcp://localhost:61616</ProviderURL>
    <QueueBindingName>MyQueue</QueueBindingName>
    <QueueConnectionFactoryBindingName>
      ConnectionFactory
    </QueueConnectionFactoryBindingName>
  </appender>

  <root level="debug">
    <appender-ref ref="Queue"/>
  </root>
</configuration>